
.btn {
    background-color: #6b4c9a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
    border: 2px solid #d09d11;
}

.btn:hover {
    background-color: #8b6fc7;
}

.cookies {
    flex-direction: column;
    display: none;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: #2d2d3f;
    bottom: 0;
    left: 0;
    padding: 8px;
    border-top: 2px solid #c9a84c;
    z-index: 10;
}

.cookies--active {
    display: flex;
}

.cookies__text {
    text-align: center;
    margin: 0 0 10px;
    font-size: 14px;
    color: #e8e0d0;
}

@media (max-width: 376px) {
    .cookies__text {
        font-size: 10px;
    }
}

.cookies__button {
    font-size: 14px;
    width: 70px;
    min-height: 30px;
    border: none;
}

@media (max-width: 376px) {
    .cookies__button {
        width: 90px;
    }
}

.burger {
    display: none;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
    margin: 0 20px 0 auto;
    cursor: pointer;
    padding: 0;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #e8e0d0;
    transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #e8e0d0;
}

.burger::after {
    bottom: 0;
}

.just-validate-error-label{
    padding: 5px;
       font-size: 13px;
}
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}
.loader {
  width: 32px;
  height: 72px;
  display: inline-block;
  left: 5px;
  position: relative;
  border: 2px solid #6ebeff;
  box-sizing: border-box;
  animation: animloader 2s linear infinite alternate;
  color: #337AB7;
  border-radius: 0 0 4px 4px;
  transform: perspective(140px) rotateX(-45deg);
}

@keyframes animloader {
  0% {
    box-shadow: 0 0  inset;
  }
  100% {
    box-shadow: 0 -70px inset;
  }
}